#section0{
    background: url('img/1.jpg');
    
    background-size: cover;
}
#section2{
    background: -webkit-gradient(linear, top left, bottom left, from(#4BBFC3), to(#969AC6));
    background: -webkit-linear-gradient(#4BBFC3, #969AC6);
    background: linear-gradient(#4BBFC3,#969AC6);
}
#slide1{
    background: -webkit-gradient(linear, top left, bottom left, from(#64c1a6), to(#4BBFC3));
    background: -webkit-linear-gradient(#64c1a6, #4BBFC3);
    background: linear-gradient(#64c1a6,#4BBFC3);
    
}
#slide2{
    background: -webkit-gradient(linear, top left, bottom left, from(#64c1a6), to(#4BBFC3));
    background: -webkit-linear-gradient(#64c1a6, #4BBFC3);
    background: linear-gradient(#64c1a6,#4BBFC3);
}
.card-img-bottom {
color: #fff;
height: 20rem;
background: url('img/3.jpg') center no-repeat;
background-size: cover;
}

#header{
    position:fixed;
    display:block;
    width: 100%;
    height: 50px;
    z-index:9;
    text-align:center;
    color: #f2f2f2;
    padding: 0px 0 0 0;
    top:0px;
}

.team-section{
    text-align: center;
}

.inner-width{
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.team-section h1{
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 4px solid;
    padding-bottom: 10px;
}

.pe{
    float: left;
    width: calc(100%/3);
    overflow: hidden;
    padding: 40px 0;
    transform: 0.4s;
}

.pe img{
    width: 120px;
    height: 120px;
}

.p-name{
    margin:  16px 0;
    text-transform: uppercase;
}

.p-desc{
    font-style: italic;
    color: blue;
}

.p-sm{
    margin-top: 12px;
}

.p-sm a{
    margin: 0 4px;
    display: inline-block;
    width: 30px;
    height: 30px;
    transition: 0.4s;
}

.p-sm a:hover{
    transform: scale(1.3);
}

.p-sm a i{
    color: #333;
    line-height: 30px;
}

